h1 {
    color:rgb(189, 105, 105);
}

/* * {
    border: solid;
} */

.header {
    background-color : rgb(37, 235, 241);
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

h2,p {
    text-align: center;
    color:rgb(0, 90, 15)
}